 header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
 }
 button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 70px;
 }

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 20px;
    font-size: 20px;

}

main, form, table, footer, h1, img{
    margin-left: 30px;
}

h1 {
    color: red;
}

footer {
    margin-top: 30px;
}