body {
    background-color: aqua;
    margin-left:  40px;
    margin-top: 30px;
}

/* Navbar styling */
header nav {
   display: flex;
   gap: 40px;
}

header nav span {
    display: flex;
    align-items: center;
    font-size: xx-large;
    color: red;
    font-weight: 900;
}

header nav img {
    border-radius: 7px;
}
/* End of Navbar styling */



/* Start of Main styling */

   h1 {
    color: red;
   }

   .container {
    padding-top: 70px;
   }

   .container ul {
    font-size: larger;
    line-height: 40px;
   }

   li::marker {
    font-size: 1.5rem;
    color: red;
   }

/* End of Main styling */